@import url('fonts/Lobster/Lobster-Regular.ttf');

canvas {
    background-image: 
    url('img/realistic-underwater-background-ocean-deep-water-sea-under-water-level-sun-rays-blue-wave-horizon-water-surface-3d-vector-concept.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: block;
}

body {
    font-family: 'Lobster', cursive;
    color: rgb(28, 25, 236);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/c3be5a799838d5810c7242e278e0cd93b678b7e1356caff134bff613c7e35df0.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.mobileOverlay {
    display: none;
    position: absolute;
    align-items: flex-end;
    justify-content: space-between;
}

.moveButtons {
    width: 155px;
    height: 100px;
}

.upButton {
    display: flex;
    justify-content: center;
}

.attackButtons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 70px;
}

.gameOverContainer {
    position: absolute;
    top: 25%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOver {
    width: 500px;
    margin-bottom: 32px;
}

.tryAgain {
    width: 250px;
    cursor: pointer;
}

.youWin {
    position: absolute;
    top: 27%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youWinImg {
    width: 500px;
}

.startscreen {
    display: flex;
    position: absolute;
    display: flex;
    top: 25%;
}

.instructions {
    display: flex;
    width: 720px;
    height: 150px;
    justify-content: space-evenly;
}

.moveShark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.move {
    width: 150px;
    object-fit: contain;
}

.arrows {
    width: 150px;
    object-fit: contain;
    height: 150px;
}

.attack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 136px;
}

.attackImg {
    width: 100px;
    object-fit: contain;
}

.attackKeys {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dKey {
    width: 50px;
    object-fit: contain;
}

.spaceKey {
    width: 150px;
    object-fit: contain;
}

.startGame {
    position: absolute;
    display: flex;
    top: 190px;
    left: 35%;
    justify-content: center;
}

.startGameImg {
    object-fit: contain;
    width: 200px;
    cursor: pointer;
}

.turnScreen {
    display: none;
}

.d-none {
    display: none;
}

#mute {
    display: flex;
    position: absolute;
    top: 11%;
    right: 32%;
    width: 48px;
    cursor: pointer;
}

@media (max-width: 1700px) {
    #mute {
        right: 30%;
    }
}

@media (max-width: 1600px) {
    #mute {
        right: 28%;
    }
}

@media (max-width: 1400px) {
    #mute {
        right: 24%;
    }
}

@media (max-width: 1200px) {
    #mute {
        right: 20%;
    }
}

@media (max-width: 1000px) {
    #mute {
        right: 15%;
    }
}

@media (max-width: 800px) {
    #mute {
        right: 7%;
    }
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    

    canvas {
        width: 100%;
    }

    h1 {
        display: none
    }

    #mute {
        display: none;
    }

    .mobileOverlay {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .attackKeys {
        width: 82%;
    }

    .startscreen {
        z-index: 1;
        top: 5%;
        width: 100%;
    }

    .startGame {
        left: 25%;
    }

    .mobileOverlay {
        height: 48%;
    }

    .turnScreen {
        z-index: 2;
        display: flex;
        position: absolute;
        font-size: 30px;
        text-align: center;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: white;
        opacity: 0.8;
        background-color: rgb(35, 84, 124);
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    #mute {
        display: none;
    }

    .mobileOverlay {
        display: flex;
        width: 90%;
        height: 30%;
        top: 69%;
        z-index: 0;
    }
    .startscreen {
        z-index: 1;
    }
}